*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,svg{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row .col{
    flex: 1 1 auto;
}

.credit{
    margin-block: 20px;
}

.grid{
    display: grid;
    place-content: center;
}
.grid.col-2{
    grid-template-columns: repeat(2,1fr);
}
.grid.col-3{
    grid-template-columns: repeat(3,1fr);
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin: auto;
}

.navbar .nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar .logo{
    width: 64px;
    height: 32px;
}

.navbar .nav_items .menu_list{
    display: none;
}

.navbar .menu_bar{
    font-size: 40px;
}
.navbar .menu_bar:hover{
    opacity: 0.5;
    cursor: pointer;
}

section{
    padding: 40px;
    position: relative;
}
.img_container{
    flex: 0 0 60%;
}

.hero_img{
    min-height: 629px;
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/e18c215b0958521e985ca975/hhh7-min.jpg");
    background-position: 0% 50%;
}

.text_content{
    color: #111111;
    margin-bottom: 2rem;
}

.hero .text_content h3{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
.hero .text_content h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: 700;
}

.location_1,.location_2{
    font-size: 18px;
    text-transform: uppercase;
}
.location_1 .address,
.location_2 .address,
.location_1 .mobile_no,
.location_2 .mobile_no
{
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.hero_btn{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    padding: 20px 48px;
    text-decoration: none;
    color: #ff724a;
    background-color: #fff;
    border: 2px solid #ff724a;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.5s linear;
}
.hero_btn:hover{
    background-color: #ff724a;
    color: #fff;
}


/* feature section start */
.feature .row{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.feature .row .col{
    flex: none;
}
.feature .card{
    background-color: #ff724a;
    color: #fff;
    width: 268px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}
.feature .card svg{
    width: 64px;
    height: 64px;
    fill: #fff;
}

.feature .card h4{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
}
.feature .card p{
    font-size: 16px;
    line-height: 28px;
    margin: 20px 1px 0;
}

.feature .card a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.feature .card a:hover{
    border-bottom-color: #ff9c80;
}

.mission{
    max-width: 1180px;
    margin: auto;
}
.mission .section_title{
    font-size: 60px;
    text-align: center;
    margin-block: 60px;
}

.mission .grid{
    gap: 4rem;
}
.mission .card{
    display: flex;
    gap: 2rem;
    color: #999999;
    justify-content: flex-start;
}
.mission .card .shape{
    width: 150px;
    height: 50px;
    border-radius: 50%;
    margin:0 auto 0 0;
    background-color: #ff724a;
}
.mission .card .card_content h4{
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
.mission .card .card_content p{
    font-style: italic;
    margin: 21px 0 0;
    line-height: 28px;

}


.about_us{
    background: url('https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/96e7a16fa59159c99bf07639/dentist-with-dentistry-tools-isolatedf-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px;

}

.about_us .text_content{
    max-width: 600px;
    padding: 30px 30px 0;
}
.about_us .text_content .row{
    flex-wrap: nowrap;
    flex: 30 0 auto;
    gap: 2rem;
}

.about_us .section_title{
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
.about_us h2{
    font-size: 3.75rem;
    margin: 20px 0 0;
}

.about_us .col p{
    font-size: 16px;
    line-height: 26px;
    padding-block: 30px;
}

.testimonial .section_title{
    font-size: 60px;
    text-align: center;
    margin-block: 40px;
}
.testimonial .grid{
    max-width: 1140px;
    margin: auto;
    gap: 2rem;
}
.testimonial .card{
    background: #ff724a;
    padding: 20px 30px;
    border-radius: 8px;
    color: #fff;
}
.testimonial .card .icon{
    font-size: 64px;
    color: #ff9c80;
}
.testimonial .card .name{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-family: Montserrat, sans-serif !important;
}
.testimonial .card .comment{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #ff9c80;
}
.testimonial .card .date{
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
    font-family: Montserrat, sans-serif !important;
    text-transform: uppercase;
}

.our_team{
    padding: 40px;
    background: #ff724a;
    color: #fff;
}

