*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
}

img,svg{
    width: 100%;
    height: 100%;
    display: block;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row .col{
    flex: 1 1 auto;
}

.credit{
    margin-block: 20px;
}
.credit.text-center{
    text-align: center;
}

.grid{
    display: grid;
    place-content: center;
}
.grid.col-2{
    grid-template-columns: repeat(2,1fr);
}
.grid.col-3{
    grid-template-columns: repeat(3,1fr);
}
.grid.col-4{
    grid-template-columns: repeat(4,1fr);
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin: auto;
}

.navbar .nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar .logo{
    width: 64px;
    height: 32px;
}
.navbar .nav_items .menu_list{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: -300px;
    transition: left 0.5s ease-in;
}
.navbar .nav_items .menu_list.active{
    display: block;
    visibility: visible;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding:4rem 2rem ;
    text-align: center;
    background: #111;
    color: #fff;
    min-width: 250px;
    height: 100vh;
    z-index: 10;
    list-style: none;
    
    transition: left 0.5s ease-in;
}
.menu_list.active::before {
    content: '';
    position: fixed;
    inset: 0;
    background: #11111170;
    z-index: -1;
}
.menu_list .icon{
    position: absolute;
    color: #fff;
    font-size: 48px;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

.menu_list .menu_li{
    margin-bottom:1rem;
}
.menu_list .menu_li .menu_link{
    text-decoration: none;
}
.menu_list .menu_li .menu_link:hover{
    color: #999;
}

.navbar .menu_bar{
    font-size: 40px;
}
.navbar .menu_bar:hover{
    opacity: 0.5;
    cursor: pointer;
}

section{
    position: relative;
    padding-block: 3rem;
}


.showcase_section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.showcase_section img {
    grid-column: 6/-1;
    min-height: 625px;
    object-fit: cover;
    object-position: left;
}
.showcase_section.reverse img{
    grid-column: 1/8;
    object-position: right;

}
.showcase_section.reverse.contact_section img{
    grid-column: 1/7;
}

.showcase_section .text_content{
    color: #111111;
    place-content: center;
    grid-column: 2/6;
    display: grid;
    align-content: center;
    justify-items: start;
}

.showcase_section.reverse .text_content{
    grid-column: 8/12;
    margin-inline: 2rem;
}
.showcase_section.reverse.contact_section .text_content{
    grid-column: 7/12;
}
.showcase_section .text_content .desc{
    line-height: 32px;
    font-size: 16px;


}
.showcase_section .text_content h3{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
.showcase_section .text_content h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: 700;
}

.location_1,.location_2{
    font-size: 18px;
    text-transform: uppercase;
}
.location_1 .address,
.location_2 .address,
.location_1 .mobile_no,
.location_2 .mobile_no
{
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.showcase_section_btn,
.submit_btn{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    padding: 20px 48px;
    text-decoration: none;
    color: #ff724a;
    background-color: #fff;
    border: 2px solid #ff724a;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
}
.showcase_section_btn:hover,
.submit_btn:hover{
    background-color: #ff724a;
    color: #fff;
}
.submit_btn{
    background-color: #ff724a;
    color: #fff;
    width: 100%;
}


/* feature section start */
.feature .row{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.feature .row .col{
    flex: none;
}
.feature .card{
    background-color: #ff724a;
    color: #fff;
    width: 268px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow:5px 5px 20px 0 rgba(0,0,0,0.1);
}
.feature .card svg{
    width: 64px;
    height: 64px;
    fill: #fff;
    margin: auto;
}

.feature .card h4{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
}
.feature .card p{
    font-size: 16px;
    line-height: 28px;
    margin: 20px 1px 0;
}

.feature .card a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.feature .card a:hover{
    border-bottom-color: #ff9c80;
}

.mission{
    max-width: 1180px;
    margin: auto;
}
.mission .section_title{
    font-size: 60px;
    text-align: center;
    margin-block: 60px;
}

.mission .grid{
    gap: 4rem;
}
.mission .card{
    display: flex;
    gap: 2rem;
    color: #999999;
    justify-content: flex-start;
}
.mission .card .shape{
    width: 150px;
    height: 50px;
    border-radius: 50%;
    margin:0 auto 0 0;
    background-color: #ff724a;
}
.mission .card .card_content h4{
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
.mission .card .card_content p{
    font-style: italic;
    margin: 21px 0 0;
    line-height: 28px;

}


.about_us{
    background: url('https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/96e7a16fa59159c99bf07639/dentist-with-dentistry-tools-isolatedf-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px;

}

.about_us .text_content{
    max-width: 600px;
    padding: 30px 30px 0;
}
.about_us .text_content .row{
    flex-wrap: nowrap;
    flex: 30 0 auto;
    gap: 2rem;
}

.about_us .section_title{
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
.about_us h2{
    font-size: 3.75rem;
    margin: 20px 0 0;
}

.about_us .col p{
    font-size: 16px;
    line-height: 26px;
    padding-block: 30px;
}

.testimonial .section_title{
    font-size: 60px;
    text-align: center;
    margin-block: 40px;
}
.testimonial .grid{
    max-width: 1140px;
    margin: auto;
    gap: 2rem;
}
.testimonial .card{
    background: #ff724a;
    padding: 20px 30px;
    border-radius: 8px;
    color: #fff;
}
.testimonial .card .icon{
    font-size: 64px;
    color: #ff9c80;
}
.testimonial .card .name{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-family: Montserrat, sans-serif !important;
}
.testimonial .card .comment{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #ff9c80;
}
.testimonial .card .date{
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
    font-family: Montserrat, sans-serif !important;
    text-transform: uppercase;
}

.our_team{
    padding: 40px;
    background: #ff724a;
    color: #fff;
}
.our_team .section_title{
    padding-block: 2rem;
    max-width: 760px;
    margin: auto;
    text-align: center;
}

.our_team .section_title h2{
    font-size: 60px;
    font-weight: 700;
}
.our_team .section_title p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}


.our_team .grid{
    gap: 2rem;
}
.our_team .col{
    background-color: #fff;
    padding: 30px;
    color: #111111;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.our_team .col img{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.our_team .col .experties{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #999999;
    line-height: 28px;
    margin-top: 12px;
    text-transform: uppercase;
}
.our_team .col .name{
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}
.our_team .col .desc{
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 28px;
}
.our_team .col .connect{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-block: 2rem;
}
.our_team .col .connect .social_link{
    background-color: #ff724a;
    font-size: 1.75rem;
    padding: 3px 6px;
    color: #fff;
    border-radius: 50%;
    vertical-align: middle;
}
.our_team .credit {
    text-align: center;
    color: #fff;
}

.contact{
    display: block !important;
}
.connect form{
    width: 100%;
}

.contact .form_group{
    margin-bottom: 1rem;
}
.contact .form_group .terms{
    display: flex;
    gap: 4px;
    align-items: center;
}
.contact .form_group .terms input{
    width: 20px;
    height: 20px;
}
.contact .form_group .terms a{
    display: inline-block;
    color: #ff724a;
}

.contact input,textarea{
    display: block;
    width: 100%;
    font-size: 16px;
    padding:  1rem 8px;
    border: none;
    outline: none;
    border-bottom: 2px solid #999999;
}

.contact_info{
    gap: 1rem;
    padding: 3rem 0;
}
.contact_info .card{
    background-color: #ff724a;
    border-radius: 8px;
    color: #fff;
    padding: 40px 30px;
} 
.contact_info .card h3{
    margin-bottom: 1.25rem;
    font-size: 20px;
    font-weight: 700;
}

.footer{
    background-color: #333333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

@media (max-width:760px) {
    .grid.col-2{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .grid.col-3{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .grid.col-4{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    .people_talking,.team_section{
        display: flex !important;
        flex-wrap: wrap;
    }
    .mission .card{
        flex-direction: column;
    }
    .mission .card .shape{
        width: 50px;
    }
    .showcase_section img ,
    .showcase_section.reverse img,
    .showcase_section.reverse.contact_section img,
    .showcase_section .text_content,
    .showcase_section.reverse .text_content,
    .showcase_section.reverse.contact_section .text_content{
        grid-column: 1/-1;
    }
}



/* about page */
.showcase.img_left img{
    grid-column: 1/7;
    min-height: 625px;
    object-position: right;
    object-fit: cover;
}
.showcase.img_left .text_content{
    grid-column: 7/12;
    padding-right: 2rem;
}
.showcase .title{
    font-size: 48px !important;
    line-height: 54px;
}


.services .cards{
    position: relative;
    width: 100%;
    min-height: 450px;
    isolation: isolate;
    background-color: #ff9c80;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.services .cards img{
    position: absolute;
    inset: 0;
    object-position:center;
    object-fit: cover;
    z-index: -2;
    user-select: none;
    pointer-events: none;
}
.services .cards::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #999;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.services .cards .sub_card{
    background-color: #fff;
    margin:1rem 2.5rem 2rem;
    padding: 30px;
    text-align: center;
}

.services .cards .sub_card .s_no{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}
.services .cards .sub_card .services_name{
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}
.services .cards .sub_card .learn_more{
    display: inline-block;
    margin: auto;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}


.services .col:nth-child(2n+1) .sub_card .s_no{
    color: #ff724a;
}
.services .col:nth-child(2n+1) .cards::before{
    background: #fff;
    opacity: 1;
}
.services .col:nth-child(2n+1) .cards:hover::before{
    opacity: 0;
}

.services .col:nth-child(2n+2) .cards::before{
    background: #ff724a;
    opacity: 0;
}
.services .col:nth-child(2n+2) .cards:hover::before{
    opacity: 1;
}


.services .col:nth-child(2n+2) .sub_card .s_no{
    color: #fff;
}

.services .col:nth-child(2n+2) .sub_card {
    background-color: #ff724a;
    color: #fff;
    border-radius: 8px;
}

.people_talking{
    display: grid;
    padding: 40px;
    gap: 2rem;
    background-color: #f2f2f2;
    grid-template-columns: repeat(12,1fr);
}
.people_talking .text_content{
    grid-column: 1/5;
    margin: auto;
}
.people_talking .text_content h3{
    font-size: 46px;
    margin-bottom: 20px;
}
.people_talking .text_content p{
    font-size: 16px; 
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.people_talking .msg_group{
    grid-column: 5/12;
    padding: 45px;
    background-color: #ff724a;
    color: #fff;
    border-radius: 8px;
}
.people_talking .msg_group .msg{
    border-bottom: 2px solid #fff;
    padding: 20px;
}
.people_talking .msg_group .msg a{
    text-decoration: none;
}
.people_talking .msg_group .msg i{
    font-size: 46px;
    margin-bottom: 20px;
}
.people_talking .msg_group .msg p{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}
.people_talking .msg_group .msg span{
    padding-bottom: 20px;
    font-size: 18px;
    font-style: italic;
}

.feature_text_content{
    text-align: center;

}
.feature_text_content h2{
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
}
.feature_text_content p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 75%;
    margin-inline: auto;
}

.team_section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
}
.img_group{
    grid-column: 1/6;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.team_text_content{
    grid-column: 6/12;
    margin: auto;
}

.feature_bg_image{
    min-height: 650px;
    position: relative;
    margin-top: -20rem;
    z-index: -1;
}
.feature_bg_image img{
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
}
